@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Gabriel</td>
            <td>(16) 99742-2997 </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Larissa</td>
            <td>(16) 99742-1850 </td>
        </tr>
    </tbody>
</table>